@import "../../styles/variable.scss";

.not-found {
  width: 100%;
  justify-content: center;
  min-height: calc(100vh - 283.25px);
  background-image: url("../../resources/header.png");
  background-position: top center;
  background-size: 100% 100px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    min-height: calc(100vh - 262.69px);
    background-size: contain;
  }

  &-wrapper {
    align-items: center;
    justify-content: center;

    & > div {
      color: $white;
      font-size: 72px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    & > a {
      color: $orange;
      font-weight: bold;
      text-align: center;
      font-size: 20px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
