@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "./variable.scss";

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
  background-color: $purple;
  background-image: url("../resources/dots.svg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

#root {
  width: 100%;
}

* {
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1024px;
}
