// Theme colors
$black: #2e2b59;
$white: #ffffff;
$gray: #908ea7;
$purple: #472a98;
$gold: #fdd044;

$orange: #ffa800;
$red: #ff2969;

$purple-start: #a573ff;
$purple-end: #645aff;

$cyan-start: #5bffa6;
$cyan-end: #2b75cc;

$green-start: #94ecbc;
$green-stop: #2bcc7b;

$blue-start: #0360d3;
$blue-end: #04bafc;

$pink-start: #eb73ff;
$pink-end: #9429ff;

$blue: #1297e0;
$blue-twitter: #42bbff;
$blue-telegram: #16a2f1;
