@import "../../styles/variable.scss";

.tokenomics {
  position: relative;
  width: 100%;
  align-items: center;
  padding: 32px 0 128px;

  &-title {
    position: relative;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    align-items: center;

    &::before {
      position: absolute;
      content: "Tokenomics";
      color: rgba($color: $white, $alpha: 0.1);
      font-size: 36px;
      font-weight: 600;
      bottom: 4px;
    }

    & > svg {
      position: absolute;
      top: -80px;
      width: 120px;
      height: auto;
      right: -90px;

      @media (max-width: 768px) {
        right: -40px;
        transform: rotate(-15deg);
      }
    }
  }

  &-subtitle {
    margin-top: 16px;
    text-align: center;

    & > svg {
      color: $gray;
      font-size: 48px;
      margin: 0 32px;

      @media (max-width: 768px) {
        min-width: 24px;
        margin: 0 16px;
      }
    }

    & > span {
      color: $white;
      font-size: 16px;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  &-wrapper {
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: center;
  }

  &-item {
    position: relative;
    width: calc(33.3% - 48px);
    padding: 24px 36px;
    margin: 24px 24px;
    background-color: $white;
    align-items: center;
    text-align: center;
    border-radius: 24px;

    @media (max-width: 1024px) {
      width: calc(50% - 48px);
    }

    @media (max-width: 768px) {
      width: calc(100% - 48px);
    }

    &:after {
      position: absolute;
      content: "";
      width: 85%;
      height: 200px;
      background-color: rgba($color: $white, $alpha: 0.2);
      border-radius: 36px;
      bottom: -12px;
    }

    & > div {
      width: 144px;
      height: 144px;
      border: 12px solid rgba($color: $orange, $alpha: 0.15);
      border-radius: 50%;

      & > img {
        width: 100%;
      }
    }

    & > span {
      font-size: 18px;
      height: 36px;
      font-weight: 600;
      color: $black;
      margin: 12px 0;
    }

    & > p {
      color: $gray;
    }
  }

  & > svg {
    position: absolute;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.small {
  bottom: 0;
  left: -80px;
  width: 240px;
  height: auto;
}

.pink {
  bottom: 64px;
  width: 400px;
  height: auto;
  right: -200px;
}

.rocket {
  bottom: 160px;
  width: 240px;
  left: 0;
}
