@import "../../styles/variable.scss";

.footer {
  width: 100%;
  justify-content: center;
  padding: 64px 0 128px;

  & > span {
    font-size: 18px;
    color: $white;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
